* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
}

header {
    margin: 44px 0 0 76px;
}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #989D9C;
    margin-right: 23px;
}

.link-header:hover {
    text-decoration: underline;
}

.button-login {
    width: 87px;
    height: 29px;
    opacity: 1px;
    font-weight: 600px;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    width: 130px;
    height: 41px;
    opacity: 1px;
    border-radius: 50px;
    background: #665AE1;
    cursor: pointer;
}

.button-login:hover {
    background: #6c61e4;
}

img {
    width: 568px;
    height: 500px;
    opacity: 1px;
    margin: 217px 0 183px 125px;
}

h1 {
    width: 513px;
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    color: #515151;
    margin: 217px 148px 0 0;

}

h2 {
    width: 448;
    height: 71px;
    opacity: 1px;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    color: #515151;
}

p {
    width: 515px;
    height: 87px;
    opacity: 1px;
    font-weight: 400px;
    font-size: 24px;
    line-height: 100%;
    color: #848484;
    margin-top: 32px;
}

.button-explore {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    width: 147px;
    color: #000000;
    width: 239px;
    height: 64px;
    opacity: 1px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20.5px;
    background: #ADFF00;
    margin-top: 65px;
    cursor: pointer;
}

.button-explore:hover {
    background: #a3ee00;
}

section {
    margin-left: 86px;
}

@media screen and (max-width:600px) {

    .container {
        display: inline-block;
    }

    header {
        display: none;
    }
    
    img {
        width: 354px;
        height: 317px;
        opacity: 1px;
        margin: 149px 22px 0 14px;
    }

    section {
        margin: 0;
        text-align: center;
    }

    h1 {
        width: 263px;
        height: 52px;
        opacity: 1px;
        font-weight: 900px;
        line-height: 100%;
        font-size: 50px;
        margin: 24px 63px 0 64px;
    }

    h2 {
        width: 240px;
        height: 37px;
        opacity: 1px;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 7px 79px 0 79px;
    }

    p {
        display: none;
    }

    .button-explore {
        font-weight: 700px;
        font-size: 28px;
        line-height: 100%;
        width: 239px;
        height: 64px;
        opacity: 1px;
        border-radius: 50px;
        margin: 17px;
        text-align: center;
    }
}
