* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
}

header {
    margin: 47px 0 0 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    text-align: center;
    color: #17233D;
    margin-right: 32px;
}

.link-header:hover {
    text-decoration: underline;
}

.button-signup {
    background: #6FBF44;
    border: 1px solid #4CB538;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border-width: 1px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-signup:hover {
    background: #5aa636;
}

img {
    opacity: 1;
    margin: 246px 0 102px 121px;
}

h1 {
    width: 582;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
    margin: 342px 57px 0 0;

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493;
    margin-top: 47px;
    margin-bottom: 55px;
    margin-right: 100px;
}

.link-learnmore {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6FBF44;
}

.link-learnmore:hover {
    text-decoration: underline;
}

section {
    margin-left: 80px;
    margin-top: 0;
}
